node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*.lock

# macOS
.DS_Store

# ignore the package and package lock files
package.json
package-lock.json
